@media(max-width:1440px) {
 .blogdetail .orange{
   font-size: 15px;
 }  
  .px{
   font-size: 20px;
  } 
  .hikedetail p{
   font-size: 11px;
  }
}
@media(max-width:1024px){
  .big{
    font-size: 30px;
  }
  .tribaltourmain{
    margin:0px;
  }
  .tourinfo{
    font-size: 15px;
  }
  .offermain{
    font-size: 25 px;
  }
  .adventuredetail{
    margin-left: 15px;
  }
  .tribal{
    font-size: 23px;
  }
  .pro1{
    margin: 10px;
  }
  .imgposition{
    top: 20%;
  }
  .playstore{
    padding: 20px;
  }
  .apple{
    padding: 20px;
  }
  .date{
    left: 50%;
  }
  .blogdetail{
    font-size: 10px;
    font-weight: normal;
  }
  svg{
    height: 70px;
  }
  .hikedetail p{
    font-size: 7px;
  }
  .gol{
    height: 70px;
    width: 70px;
    left: 40%;
  }
  .endlogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width:768px){
 .navbar{
  grid-template-columns: 1fr 5fr 1fr;
  padding: 0;
  margin: 0;
 }
 .share{
  width: 100%;
  padding: 0;
 }
 .k img{
  height: 40px;
 }
 .bars{
  text-align: left;
 } 
 .revive{
  margin: 0;
 }
 .tourdetail{
  gap: 10px;
 }
 .raisemain{
  padding: 0;
 }
 .offermain{
  padding: 0;
  font-size: 25px;
 }
 .adventuredetail{
  width: 100%;
  margin: 0;
 }
 .contactdetails{
  margin: 0;
 }
 .createmain{
  padding: 0;
 }
 .prorow1{
  grid-template-columns: 1fr 1fr;
 }
 .px1{
  font-size: 40px;
 }
 .playstore{
  padding: 10px;
 }
 .apple{
  padding: 1 0px;
 }
 .roundbig{
  height: 40%;
  width: 70%;
 }
 .imgposition{
  top: 35%;
 }
 .blogs{
  grid-template-columns: 1fr 1fr;
 }
 .besthikingmain{
  grid-template-columns: 1fr;
 }
 svg{
  height:100px
 }
 .hikedetail p{
  font-size: 20px;
 }
 .gol{
  height: 100px;
  width: 100px;
  left: 45%;
 }
 .endlogo{
  grid-template-columns: 1fr;
 }
}
@media(max-width:425px){
  .header{
    grid-template-rows: 1fr;
  }
  .revive{
    width: 100%;
    padding: 0;
    font-size: 30px;
  }
  .letsgo{
    grid-template-columns: 1fr;
  }
  .share{
    grid-template-columns: 1fr;
  }
  .twoparts{
    grid-template-columns: 1fr;
  }
  .tourdetail{
    grid-template-columns: 1fr;
  }
  .offermain{
    grid-template-rows: 1fr;
  }
  .adventuredetail{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .detail1{
    grid-template-columns: 1fr;
  }
  .contactdetails{
    width: 100%;
    grid-template-columns: 1fr;
  }
  .row1,.row2{
    grid-template-columns: 1fr;
  }
  .createmain{
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0;
    font-size: 10px;
  }
  .createmain p{
    padding: 0;
  }
  .createpart2{
    grid-template-rows: 1fr;
  }
  .ctext{
    font-size: 40px;
  }
  .cnumbers{
    grid-template-columns: 1fr 1fr;
  }
  .clients{
    font-size: 25px;
  }
  .productmain{
    padding: 0;
  }
  .prorow1{
    grid-template-columns: 1fr;
  }
  .digitalmain{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
  .imgposition{
    top: 10%;
  }
  .roundbig{
    height: 70%;
  }
  .apple,.playstore{
    padding: 10px;
  }
  .blogs{
    grid-template-columns: 1fr;
  }
  .date{
    left: 81%;
  }
  svg{
    height: 50px;
  }
  .besthikingmain p{
    font-size: 11px;
  }
  .gol{
    height: 50px;
    width: 50px;
  }
  .lastfooter{
    grid-template-columns: 1fr;
  }
}
