*{
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
body *{
    box-sizing: border-box;
    /* border: 1px solid orange; */
    margin: 0;
    padding: 0;
}
.cursive{
    font-family: cursive;
    font-style: italic;
}
/* header start */
/* navbar start */
.header{
    background: url(images/SLider-2-bg-image.jpg);
    color: white;
    /* height: 900px; */
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
button
{
    border: none;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    font-size: 25px;
    padding: 20px;
}
.logo{
    text-align: center
}
.bars{
    text-align: end;
}
.revive{
    width: 80%;
    margin: auto;
    font-size: 40px;
    text-align: center;
    word-spacing: 10px;
    padding: 100px;
}
.big{
    font-size: 80px;
}
.letsgo{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.letsgobutton{
    margin: auto;
}
.round
{
    height: 150px;
    width: 150px;
    border: 5px solid orangered;
    text-align: center;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-spacing: 0px;
    border-radius: 50%;
    transition: .31s;
}
.round:hover{
    border: 5px solid white;
}
.share{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: end;
    padding-top: 10%;
    padding-left: 5%;
}
.k img{
    object-fit: cover;
}
.play{
    height: 50px;
    width: 50px;
    background-color: orangered;
    color: white;
    text-align: center;
    padding-top: 12px;
    transition: .31s;
    border-radius: 50%;
}
.play:hover{
    background-color: white;
    color: orange;
}
.orange{
    transition: .31s;
}
.orange:hover{
   color: orangered;
}
.watch{
    display: grid;
    grid-template-columns: 1fr 3fr;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-share{
    font-size: 60px;
}
/* navbar end */
/* header end */

/* content start */
/* raisemain start */
.raisemain{
    padding: 70px;
    background: black;
    color: white;
}
.twoparts{
    display: grid;
    grid-template-columns: 6fr 1fr;
}
.rejuvenate{
    font-size: 30px;
}
.raise
{
    font-size: 50px;
    font-weight: bold;
}
.left,.right{
    height: 50px;
    width: 50px;
    background-color: transparent;
    text-align: center;
    line-height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    transition: .31s;
}
.left:hover{
    background: white;
    color: orangered;
}
.right:hover{
    background: white;
    color: orangered;
}
.leftright{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.tourdetail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.img1{
    overflow: hidden;
}
.img1 img{
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: .31s;
}
.img1 img:hover{
    transform: scale(1.1);
}
.tribaltourmain{
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: 20px;
}
.tribal{
    font-size: 30px;
    font-weight: bold;
}
.tourinfo{
    font-size: 20px;
}
/* raisemain end */

/* offer start */
.offermain{
    display: grid;
    grid-template-rows: 2fr 4fr 2fr;
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    padding: 50px;
    background: url(images/bg-image-banner-home-scaled.jpg);
    background-size: 100% 100%;
    color: white;
}
.adventuredetail{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    margin-left: 20%;
}
.detail1{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-bottom: 20px;
}
.contactdetails{
    width: 50%;
    font-size: 20px;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.part2{
    text-align: left;
}
.callus{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.booknow button{
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: orangered;
    transition: .31s;
    font-weight: bold;
}
.booknow button:hover{
    background-color: black;
}
.phone{
    height: 50px;
    width: 50px;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    line-height: 50px;
}
.px{
    font-size: 30px;
    font-weight: bold;
}
.call{
    word-spacing: 5px;
}
/* offer end */

/* dream start */
.dreammain{
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.place{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.px1{
    font-size: 60px;
}
.countries{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.country1{
    margin: 20px;
    position: relative;
}
.over{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row1 img{
    height: 100%;
    width: 100%;
}
.row2 img{
    height: 100%;
    width: 100%;
}
.row2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* dream end */

/* create start */
.createmain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(images/bg-for-video-banner-home-2-scaled.jpg);
    background-size: 100% 100%;
    padding: 70px;
    color: white;
}
.createpart2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.cnumbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cbutton button{
    padding: 20px 50px 20px 50px;
}
.ctext{
    font-size: 60px;
}
.cdetail{
    font-size: 25px;
}
.clients{
    font-size: 40px;
    font-weight: bold;
}
.px2{
    font-size: 25px;
    font-weight: bold;
}
/* create end */

/* product start */
.productmain{
    background-color: black;
    color: white;
    padding:50px 0 50px 0 ;
}
.prorow1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.pro1{
    display: grid;
    grid-template-rows: 7fr 2fr;
    margin: 20px;
}
.proimg img{
    height: 100%;
    width: 100%;
}
.proimg{
    background-color: gray;
    position: relative;
}
.proimg:hover .cart{
    opacity: 1;
}
.cart{
    position: absolute;
    top: 40%;
    left: 20%;
    background-color: orangered;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    transition: .31s;
    opacity: 0;
}
.cart:hover{
    background-color: black;
}
.px3{
    font-size: 23px;
    font-weight: bold;
}
.overline{
    text-decoration: line-through;
}
.prodetail{
    font-size: 20px;
    font-weight: bold;
}
.prodetail p{
    padding: 5px;
}
/* product end */

/* digital start */
.digipart2{
    font-size: 20px;
}
.digipart2 p{
    padding: 20px;
}
.digitalmain{
    padding: 20px;
    color: white;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.googleplay{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.googleplay img{
    height: 100%;
    width: 100%;
}
.playstore{
    padding: 50px;
}
.apple{
    padding: 50px;
}
.digipart1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.imgposition{
    position: absolute;
    top: -15%;
    left: 0;
}
.imgposition img{
    height: 100%;
    width: 100%;
}
.roundbig{
    height: 90%;
    width: 90%;
    background-color: orange;
    border-radius: 50%;
}
/* digital end */

/* blog start */
.blogmain{
    background-color: black;
    color: white;
    padding: 50px 0 50px 0;
}
.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.blog1{
    margin: 20px;
    position: relative;
}
.date{
    position: absolute;
    top: 2%;
    left: 80%;
    color: black;
    background-color: white;
}
.blog1:hover .date{
    background-color: orange;
    transition: .31s;
}
.blog1 img{
    height: 100%;
    width: 100%;
}
.blogdetail{
    position: absolute;
    top: 70%;
    left: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.zero{
    position: relative;
}
.zero::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 5px;
    width: 50%;
    background-color: white;
}
.zero:hover::after{
    width: 0;
    transition: .31s;
}
/* blog end */

/* best hiking start */
.besthikingmain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hike1 img{
    height: 100%;
    width: 100%;
}
.hike1{
    position: relative;
}
.gol{
    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 35%;
    opacity: 0;
    transition: 1s;
}
.hike1:hover .gol{
    top: 15%;
    opacity: 1;
}
.hikedetail{
    position: absolute;
    top: 20%;
    left: 0;
    text-align: center;
    color: black;
    /* background-color: rgba(0, 0, 0, 0.356); */
}
.hikedetail p{
    padding: 10px;
}
svg{
    height: 100px;
}
/* best hiking end */
/* content end */

/* footer start */
.footer{
    background: url(images/footer2-bg.jpg);
    color: white;
    background-size: 100% 100%;
}
.endlogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.lastfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.lastfooter p{
    padding: 10px;
}
/* footer end */