@media(max-width:1024px){
    .navbar ul li{
        margin-left: 50px;
    }
    .aboutme{
        width: 100%;
    }
    .mydetail{
        padding: 10px;
    }
    .mydetail p{
        padding: 0px;
    }
    .projects{
        width: 100%;
    }
    .contact-fonts{
        margin-left: 35%;
    }
    .contact{
        width: 100%;
    }
    .gray-part p{
        padding: 20px;
    }
}
@media(max-width:768px){
    .navbar ul li{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    .aboutme{
        grid-template-columns: 1fr;
        width: 80%;
    }
    .mydetail p{
        padding: 20px;
    }
    .projects{
        grid-template-columns: 1fr;
        width: 70%;
    }
    .contact{
        grid-template-columns: 1fr;
        width: 70%;
    }
    .contact-fonts{
        margin-left: 42%;
    }
}
@media(max-width:425px){
    .btn{
        font-size: 15px;
    }
    .bigtext{
        font-size: 45px;
        padding: 10px;
        width: 100%;
    }
    .skilldetail{
        font-size: 25px;
    }
    .scroll{
        font-size: 25px;
        padding-top: 40%;
    }
    .freelancing{
        padding: 70px;
    }
    .freelancing p{
        font-size: 30px;
    }
    .contact-fonts{
        margin-left: 35%;
    }
    .big{
        font-size: 30px;
    }
    .footer{
        grid-template-columns: 1fr;
    }
    .project1{
        height: 210px;
    }
}
@media(max-width:375px){
    .about{
        font-size: 25px;
    }
    .aboutdetail{
        font-size: 20px;
    }
    .btn{
        height: 50px;
        width: 40%;
    }
    .bigtext{
        padding: 0;
    }
    .project1{
        height: 190px;
    }
    .contact{
        width: 50%;
        margin-left: 7%;
    }
    .contact-fonts{
        margin-left: 37%;
    }
    .big{
        font-size: 20px;
    }
}