*{
    scroll-behavior: smooth;
}
body *{
    box-sizing: border-box;
    /* border: 1px solid; */
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
body{
    color: black;
}
a{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.687);
    background: none;
}
button{
    border: none;
}
.green{
    color: rgb(61, 227, 61);
}
.b1{
    color: black;
}
/* header start */
.header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3px;
    z-index: 1;
    background-color: white;
    transition: .31s;
}
.navbar{
    text-align: center;
    padding: 25px;
    font-weight: bold;
}
#menu{
    display: block;
}
.navbar ul li{
    list-style-type: none;
    display: inline;
    margin-left: 100px;
    text-align: center;
    font-size: 25px;
    position: relative;
}
.navbar ul li a:hover{
    color: black;
    transition: .31s;
}
.navbar ul li::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    transition: .31s;
    transform: scale(0);
}
.navbar ul li:hover::after{
    opacity: 1; 
    transform: scale(1);
}
.logo{
    font-size: 55px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
.bar{
    text-align: right;
    display: none;
    font-size: 30px;
    margin: auto;
}

.blue{
    color: #26a7de;
    font-weight: bold;
    font-family: cursive;
}
/* header end */

/* scroll start */
.fullname{
    
    text-align: center;
    margin: auto;
    font-size: 45px;
    padding: 190px 0 190px 0;
    text-shadow: 0px 15px 15px black;
    color: #26a7de;
    background: url(images/developer.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* animation: slider 10s linear infinite; */
}
.fullname p{
    padding: 30px;
}
.white{
    color: white;
}
/* @keyframes slider{
    0%{
        background: url(images/developer.jpg);
        background-size: 100% 100%;
    }
    50%{
        background: url(images/close-up-hand-writing-notebook-top-view_23-2148888824.jpg);
        background-size: 100% 100%;
    }
    100%{
        background: url(images/college-project-concept-illustration_114360-10211.jpg);
        background-size: 100% 100%;
    }
} */
/* scroll end */

/* content start */
/* aboutme start */
.aboutme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
.myimg{
    height: 100%;
}
.myimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.mydetail{
    padding: 20px;
}
.mydetail p{
    padding: 20px;
}
.about{
    font-size: 30px;
    text-align: start;
}
.aboutdetail{
    font-size: 25px;
    text-align: start;
    justify-content: space-evenly;
}
.gray-part p{
    color: gray;
}
.gray-part p:hover{
    color: black;
}
.btn{
    height: 60px;
    width: 30%;
    border-radius: 20px;
    background-color: #26a7de;
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    box-shadow: 0 0 10px gray;
    transition: .31s;
    margin-right: 20px;
}
.btn a{
    color: white;
}
.btn:hover{
    background-color: white;
    color: #26a7de;
}
.btn:hover a{
    color: #26a7de;
}
/* aboutme end */
/* skill start */
.skilldetail{
    text-align: center;
    font-size: 35px;
    justify-content: space-evenly;
}
.skilldetail p{
    padding: 15px;
}
.skilldetail a{
    color: #26a7de;
    border: 3px solid black;
    padding: 20px;
}
/* skill end  */

/* our projects start */
.bigtext{
    font-size: 70px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
    border-bottom: 3px solid;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: auto;
}
.project1{
    position: relative;
    height: 300px;
    box-shadow: 0 1px 15px black;
}
.scroll{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 55%;
    overflow: hidden;
    transition: .31s;
    color: #26a7de;
}
.scroll p{
    padding: 20px;
    color: white;
    text-shadow: 0 0 15px black;
}
.project1:hover .scroll{
    padding-top: 0%;
    background-color: rgba(0, 0, 0, 0.445);
}
.scroll a{
    color: white;
}
.scroll a:hover{
    color: #26a7de;
}
/* our projects end */

/* freelancing start */
.freelancing{
    text-align: center;
    background:url(images/close-up-hand-taking-notes_23-2148888827.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 200px;
    margin-top: 5%;
}
.freelancing p{
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
}
.blue{
    color: #26a7de;
}
.btn2{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    color: white;
    background-color: #26a7de;
}
.btn2:hover{
    color: #26a7de;
    background-color: white;
    transition: .31s;
}
/* freelancing end */

/* contact me start */
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}
.con1{
    display: grid;
    grid-template-rows: 1fr 2fr;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.freelancing a{
    color: white;
}
.freelancing a:hover{
    color: #26a7de;
}

.contact-fonts{
    height: 70px;
    width: 70px;
    background-color: #26a7de;
    color: white;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    border-radius: 50%; 
    margin-left: 40%; 
    margin-top: 5%;
}
.contact-fonts a{
    color: white;
    background-color: #26a7de;
}
.contact-fonts:hover{
    background-color: white;
    box-shadow: 0 0 5px black;
    color: #26a7de;
    transition: .31s;
}
.contact-via{
    font-size: 25px;
    text-align: center;
}
.contact-via p{
    padding: 10px;
}
.black{
    font-weight: bold;
    font-size: 35px;
}
.fa-linkedin,.fa-instagram,.fa-github{
    padding: 20px;
}
/* contact me end */
/* content end */

/* footer start */

.big{
    font-size: 35px;
    font-weight: bold;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.socialmedia{
    border-right: 1px solid black;
}
.fa-github:hover{
    background-color: black;
    border-radius: 25%;
    transition: .31s;
}
.fa-linkedin:hover{
    background-color:black;
    border-radius: 25%;
    transition: .31s;
}
.fa-instagram:hover{
    background-color: black;
    border-radius: 25%;
    transition: .31s;
}
.thank{
    text-align: center;
    margin: auto;
}
/* footer end */